# Jetbrains
.idea/
out/

# Vs Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Python
.mypy_cache/

# OS
.DS_Store

# Misc
.env


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class