[[source]]
name = "rtk-companion"
url = "https://github.com/jregistr/rtk-companion.git"
verify_ssl = true

[dev-packages]

[packages]
mypy = "*"
ankirspy = "*"
anki = "*"
aqt = "*"

[requires]
python_version = "3.8"
