[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
mypy = "*"
anki = "*"
aqt = "*"
mkdocs = "*"
pyqt6 = "*"

[requires]
python_version = "3.9"
